body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
    color: #555;
}
ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 8px 0;
    font-size: 18px;
}
